/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Helvetica neue', Arial, sans-serif; */
    font-family: 'Segoe UI' , Tahoma, Verdana;
    font-size: 15px;
}

h1 {
  text-align: center;
}